.instructions {
    max-width: 1200px;
    border: 2px solid rgb(23, 23, 23);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 24px;
}

.demo-instructions {
    width: 1000px;
    height: 500px;
    border: 2px solid rgb(23, 23, 23);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 24px;
}

.space {
    width: 800px;
    border: 2px solid rgb(23, 23, 23);
    border-radius: 4px;
    padding: 16px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 24px;
}

.math-container {
    width: 360px;
    height: 256px;
    border: 2px solid rgb(23, 23, 23);
    border-radius: 4px;
    padding: 16px;
}

.math-container-iti-test {
    width: 360px;
    height: 256px;
    border: 2px solid rgb(119, 118, 118);
    color: rgb(119, 118, 118);
    border-radius: 4px;
    padding: 16px;
}

.math {
    max-width: 1200px;
    min-width: 300px;
    font-size: 24px;
    padding: 8px;
}


.da-container {
    width: 800px;
    border: 2px solid rgb(23, 23, 23);
    border-radius: 4px;
    padding: 16px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.da-option-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 320px;
}

.da-even-odd-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.da-spacebar-container {
    border: 2px solid rgb(23, 23, 23);
    border-radius: 4px;
    font-size: larger;
    height: 72px;
    font-size: larger;
    padding-top: 8px;
}

.da-even-odd {
    border: 2px solid rgb(23, 23, 23);
    border-radius: 4px;
    height: 72px;
    width: 144px;
    font-size: larger;
    padding-top: 8px;
}


.option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.option {
    border: 2px solid rgb(50, 50, 50);
    border-radius: 4px;
    width: 120px;
    padding: 12px;
    font-size: 24px;
}

.option-iti {
    border: 2px solid rgb(119, 119, 119);
    border-radius: 4px;
    width: 120px;
    padding: 12px;
    font-size: 24px;
}

.option-container-test {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.option-test {
    border: 2px solid rgb(50, 50, 50);
    border-radius: 4px;
    width: 100px;
    padding: px;
}

.option-iti-test {
    border: 2px solid rgb(119, 119, 119);
    border-radius: 4px;
    width: 80px;
    padding: 8px;
}

.correct-container {
    width: 360px;
    height: 256px;
    border: 2px solid rgb(18, 160, 23);
    background-color: rgba(18, 160, 23, 0.1);
    border-radius: 4px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: rgb(18, 160, 23);
    font-size: 24px;
}

.correct-message {
    font-size: 40px;
}

.incorrect-container {
    width: 360px;
    height: 256px;
    border: 2px solid rgb(183, 21, 21);
    background-color: rgba(183, 21, 21, 0.1);
    border-radius: 4px;
    padding: 16px;  
    display: flex;
    justify-content: center;
    align-items: center; 
    color: rgb(183, 21, 21);
    font-size: 24px;
}

.incorrect-message {
    font-size: 40px;
}

#jspsych-audio-button-response-btngroup {
    border: 2px solid black;
    width: 900px;
    height: 775px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(./imgs/fixation.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 75%;
}

.jspsych-audio-button-response-button {
    width: 380px;
    height: 380px;
    border: 2px solid white;
    border-radius: 3px;
}

.jspsych-audio-button-response-button:hover {
    border: 2px solid rgb(187, 187, 187);
    border-radius: 3px;
}

.jspsych-audio-button-response-button:active {
    border: 2px solid rgb(108, 108, 108);
}

#isi_fixation_box {
    border: 2px solid black;
    width: 900px;
    height: 775px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(./imgs/fixation.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 75%;
}

.text_choice_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_choice {
    font-size: 48px;
    font-family: sans-serif;
    line-height: 48px;
}


